.profile-image--big {
  width: 70px;
  height: 70px;
  margin-right: 5%;
}
.profile-image--big--radius {
  width: 100%;
  border-radius: 25px;
}

.profile-image--small {
  width: 50px;
  height: 50px;
  margin-right: 5%;
}
.profile-image--small--radius {
  width: 100%;
  border-radius: 20px;
}
