.sub-container--create {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray_7);
  z-index: 300;
}

.popup-container {
  display: flex;
  position: relative;
  top: 75px;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--white);
}

.sub-container--overflow {
  overflow: hidden;
}

.popup__icon--size {
  display: flex !important;
  justify-content: flex-end;
  font-size: 20px;
  padding: 0 20px;
}

.popup__icon--size::before {
  cursor: pointer;
}

.sub-friend {
  height: 300px;
}
.sub-friend--title {
  padding-left: 30px;
}
.sub-friend--text {
  position: relative;
  padding: 0 0 10px 30px;
}
.sub-friend--text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray_2);
}

.sub-friend__form {
  padding: 0 30px;
}

.sub-friend--form {
  width: 90%;
  margin: 0 auto;
}

.sub-friend__form--email {
  width: 100%;
  font-size: 16px;
  border-width: 0;
  border-bottom: 1px solid var(--gray_2);
}
