aside {
  display: flex;
  flex-direction: column;
  background-color: #f1f3f5;
}
aside ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
aside ul li {
  padding-bottom: 30px;
}
aside ul li a img {
  width: 30px;
}

.top-emoticon li a img {
  opacity: 0.4;
}
.top-emoticon__chat {
  position: relative;
}
.top-emoticon__chat::after {
  content: "3";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -23px;
  left: 14px;
  width: 30px;
  height: 20px;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  background-color: #f03e3e;
}
