aside {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}
aside ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
aside ul li {
  padding-bottom: 30px;
}
aside ul li a img {
  width: 30px;
}
