@media (min-width: 1025px) {
  .grid {
    display: grid;
    grid-template:
      "aside header" 100px
      "aside main"
      / 80px 1fr;
  }
  .grid header {
    grid-area: header;
  }
  .grid aside {
    grid-area: aside;
  }
  .grid main {
    grid-area: main;
  }
  .grid footer {
    grid-area: footer;
  }

  .grid__header {
    position: fixed;
    right: 0;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 80px);
    background-color: #fff;
  }

  .aside {
    flex-direction: column;
    height: 100%;
  }

  .aside__ul {
    width: 80px;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray_2);
  }

  .aside-sub__setting {
    display: block;
    left: 80px;
    bottom: 50px;
    border: 1px solid var(--gray_9);
    background-color: var(--white);
    padding: 7px;
  }
}

/* @media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {

} */

@media (max-width: 1024px) {
  .grid__header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 201;
  }

  aside {
    z-index: 202;
  }

  .aside {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .aside__ul {
    width: 100%;
    justify-content: space-between;
    background-color: #e9ecef;
    padding: 20px;
  }
  .aside-sub__setting {
    right: 30px;
    bottom: 80px;
  }

  .main {
    position: relative;
    top: 110px;
    margin-bottom: 80px;
    background-color: #fff;
    z-index: 200;
  }
}
