@import "reset.css";
@import "aside.css";
@import "variables.css";
@import "media-query.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
}

.none {
  display: none;
}

.flex {
  display: flex !important;
}
.flex__container-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template:
    "aside header" 100px
    "aside main"
    "footer footer" 50px
    / 80px 1fr;
  height: 100vh;
  overflow: hidden;
}
.grid header {
  grid-area: header;
}
.grid aside {
  grid-area: aside;
}
.grid main {
  grid-area: main;
  overflow-y: auto;
}
.grid footer {
  grid-area: footer;
}

.icon--size {
  width: 30px;
}
.grid--image .icon--size:nth-of-type(1) {
  margin-right: 20px;
}
/* login */

.body--background {
  background-color: var(--yellow);
}

.login--img {
  width: 150px;
  margin: 40px 0;
}

.login__form {
  flex-direction: column;
  margin: 0 80px;
}
.login__form--input {
  padding: 12px 10px;
  border: 1px solid var(--gray_1);
  border-radius: 1px;
}
.login__form--input::placeholder {
  color: var(--gray_3);
}
.login__form--btn {
  border-radius: 2px !important;
  color: var(--gray_3);
  margin-top: 5px;
}
.login__form--auto-check {
  position: relative;
  padding-top: 10px;
}

.login__form--auto-check-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  font-size: 13px;
  color: var(--gray_5);
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
}

.login__form--auto-check-label.checked {
  background: url("../images/icons/check.png") var(--white) no-repeat
    center/10px 10px;
}

.login__form--auto-check-label-span {
  position: absolute;
  top: 14px;
  left: 30px;
}
.find-info {
  font-size: 14px;
  margin-top: 100px;
}

.find-info__li {
  position: relative;
  padding-right: 20px;
}

.find-info__li:nth-of-type(n + 1)::after {
  content: "";
  width: 1px;
  height: 13px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: var(--gray_3);
}

.find-info__li:last-child {
  padding-right: 0;
}
.find-info__li:last-child::after {
  display: none;
}

.find-info__li-a {
  color: var(--gray_6);
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.grid--header {
  flex-direction: column;
  justify-content: flex-end;
}
.grid--header__top {
  justify-content: space-between;
}
.grid--header__form {
  position: relative;
  padding-top: 10px;
}

.grid--header__form::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 18px;
  left: 12px;
  color: var(--gray_3);
}
.grid--header__form::after {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 19px;
  right: 12px;
  color: var(--gray_5);
}
.grid--header__form--search {
  width: 100%;
  padding: 7px 100px 7px 40px;
  border: 1px solid var(--gray_1);
  border-radius: 15px;
  background-color: var(--gray_1);
}

.no-form {
  justify-content: center;
}

.main-container {
  margin: 20px 5% 0 0;
}

.main-more {
  margin: 0 5% 0 5%;
}

.main-list {
  padding: 10px 0 10px 5%;
  cursor: pointer;
}

.main-list:hover {
  background-color: var(--gray_1);
}
.main-list:nth-last-child(1) {
  margin-bottom: 10px;
}
.main-list__text {
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
.main-list__title {
  align-items: center;
}

.main-list__name {
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}
.main-list__message {
  font-size: 13px;
  color: var(--gray_7);
}

.main-list__h3 {
  font-size: 12px;
  color: var(--gray_6);
  padding: 10px 0 10px 0;
  margin-left: 5%;
  border-top: 1px solid var(--gray_1);
}

.main-list__image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.main-list__number {
  font-size: 13px;
  color: var(--gray_6);
  margin-right: 5px;
}

.main-list__serence-bell {
  color: var(--gray_6);
}

.main-list--more {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  flex: 1;
}
.main-list--more__date {
  font-size: 11px;
  color: var(--gray_6);
}
.main-list--more__chatting-number {
  width: 30px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--red);
}

.profile-image--big {
  width: 70px;
  height: 70px;
  margin-right: 5%;
}
.profile-image--big--radius {
  width: 100%;
  border-radius: 25px;
}

.profile-image--small {
  width: 50px;
  height: 50px;
  margin-right: 5%;
}
.profile-image--small--radius {
  width: 100%;
  border-radius: 20px;
}

.main-more__border {
  border: 1px solid var(--gray_1);
  background-color: var(--gray_1);
  border-radius: 5px;
  margin: 25px 0;
}
.main-more__border--width-100 {
  width: 100%;
}
.main-more__border--paddig {
  padding: 15px 0;
}
.main-more__border--zone {
  flex: 1;
}
.main-more__border--icon {
  font-size: 25px;
  padding-bottom: 10px;
}
.main-more__border--title {
  font-size: 13px;
}
.main-more__li--after {
  position: relative;
}
.main-more__li--after::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  width: 1px;
  height: 46px;
  background-color: var(--gray_2);
}

.main-more__sub-menu--li {
  display: inline-block;
  width: calc(90% / 4);
  text-align: center;
  padding: 20px 0;
}

.chatting-header--background-color {
  background-color: var(--blue_0);
}

.chatting-header {
  padding: 20px 10px;
}

.chatting-header__column {
  width: 33%;
}

.chatting-header__name-form {
  justify-content: center;
}
.chatting-header__name-form--name {
  flex-direction: column;
  justify-content: space-between;
}

.chatting-header__menu {
  justify-content: flex-end;
}

/* footer {
  background-color: var(--gray_2);
} */
