@import "reset.css";
@import "aside.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
}

.none {
  display: none;
}

.flex {
  display: flex;
}
.flex__container-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template:
    "aside header" 100px
    "aside main"
    "footer footer" 50px
    / 80px 1fr;
  height: 100vh;
  overflow: hidden;
}
.grid header {
  grid-area: header;
}
.grid aside {
  grid-area: aside;
}
.grid main {
  grid-area: main;
  overflow-y: auto;
}
.grid footer {
  grid-area: footer;
}

.icon--size {
  width: 30px;
}
.grid--image .icon--size:nth-of-type(1) {
  margin-right: 20px;
}
/* login */

.body--background {
  background-color: var(--yellow);
}

.login--img {
  width: 150px;
  margin: 40px 0;
}

.login__form {
  flex-direction: column;
  margin: 0 80px;
}
.login__form--input {
  padding: 12px 10px;
  border: 1px solid var(--rgba_1);
  border-radius: 1px;
}
.login__form--input::placeholder {
  color: var(--rgba_3);
}
.login__form--btn {
  border-radius: 2px !important;
  color: var(--rgba_3);
  margin-top: 5px;
}
.login__form--auto-check {
  position: relative;
  padding-top: 10px;
}

.login__form--auto-check-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  font-size: 13px;
  color: var(--rgba_5);
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
}

.login__form--auto-check-label.checked {
  background: url("../images/icons/check.png") var(--white) no-repeat
    center/10px 10px;
}

.login__form--auto-check-label-span {
  position: absolute;
  top: 14px;
  left: 30px;
}
.find-info {
  font-size: 14px;
  margin-top: 100px;
}

.find-info__li {
  position: relative;
  padding-right: 20px;
}

.find-info__li:nth-of-type(n + 1)::after {
  content: "";
  width: 1px;
  height: 13px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: var(--rgba_3);
}

.find-info__li:last-child {
  padding-right: 0;
}
.find-info__li:last-child::after {
  display: none;
}

.find-info__li-a {
  color: var(--rgba_6);
}

/* index */
.header-container {
  width: 90%;
  margin: 0 auto;
}

.grid--header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.grid--header__top {
  display: flex;
  justify-content: space-between;
}
.grid--header--form {
  position: relative;
  padding-top: 10px;
}

.grid--header--form::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 18px;
  left: 12px;
  background: url("../images/icons/search.png") no-repeat;
  background-size: 17px 17px;
}
.grid--header--form::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 12px;
  background: url("../images/icons/error.png") no-repeat;
  background-size: 20px 20px;
}
.grid--header--form__search {
  width: 100%;
  padding: 7px 100px 7px 40px;
  border: 1px solid var(--gray_2);
  border-radius: 15px;
  background-color: var(--gray_2);
}

.main-container {
  margin: 20px 5% 0 0;
}

.friend-list {
  display: flex;
  padding: 10px 0 10px 5%;

  cursor: pointer;
}
.friend-list:hover {
  background-color: var(--gray_0);
}
.friend-list:nth-last-child(1) {
  margin-bottom: 10px;
}

.profile-iamge__big {
  width: 70px;
  height: 70px;
  margin-right: 5%;
}
.profile-iamge__big--setting {
  width: 100%;
  border-radius: 25px;
}

.profile-image__small {
  width: 50px;
  height: 50px;
  margin-right: 5%;
}
.profile-image__small--setting {
  width: 100%;
  border-radius: 20px;
}

.friend-list__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
.friend-list__one-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend-list__name {
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}
.status-message {
  font-size: 13px;
}

.category-list__h3 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px 0 10px 0;
  margin-left: 5%;
  border-top: 1px solid var(--gray_2);
}

.friend-list__image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.friend-list__number {
  font-size: 13px;
  opacity: 0.6;
  margin-right: 5px;
}

.friend-list--title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.friend-list__serence-bell {
  width: 13px;
  height: 13px;
  opacity: 0.6;
}

.friend-list--more {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  flex: 1;
}
.friend-list--more__date {
  font-size: 11px;
  opacity: 0.6;
}
.friend-list--more__chatting-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--red);
}

/* footer {
  background-color: var(--gray_2);
} */
