@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

@import "reset.css";
@import "variables.css";
@import "media-query.css";

@import "component/aside.css";
@import "component/header.css";
@import "component/sub-container.css";
@import "component/profile-image.css";
@import "component/chatting-window.css";

@import "screen/login.css";
@import "screen/chatting.css";
@import "screen/friend.css";
@import "screen/more.css";

body {
  font-family: "Nanum Gothic", sans-serif;
}

.none {
  display: none;
}

.body__sub--background-color {
  background-color: var(--gray_4);
  z-index: 1;
}

.js-overflow {
  overflow-y: hidden !important;
}

.flex {
  display: flex !important;
}

.flex__container-center {
  justify-content: center;
  align-items: center;
}

.icon--size {
  width: 30px;
}
.no-form {
  justify-content: center;
}
