:root {
  --gray_1: rgba(0, 0, 0, 0.05);
  --gray_2: rgba(0, 0, 0, 0.09);
  --gray_3: rgba(0, 0, 0, 0.3);
  --gray_4: rgba(0, 0, 0, 0.4);
  --gray_5: rgba(0, 0, 0, 0.5);
  --gray_6: rgba(0, 0, 0, 0.6);
  --gray_7: rgba(0, 0, 0, 0.7);
  --gray_8: rgba(0, 0, 0, 0.8);
  --gray_9: rgba(0, 0, 0, 0.9);
  --white: #fff;
  --black: #000;
  --yellow: #ffeb33;
  --red: #f03e3e;
  --blue_0: #e7f5ff;
  --blue_1: #d0ebff;
}
